html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* site.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;

}

.question-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;

}

.question-title {
    font-size: 1.2em;
    margin-bottom: 10px;

}

.options {
    list-style: none;
    padding: 0;
}

.option {
    margin-bottom: 5px;
}

    .option input[type="radio"] {
        margin-right: 10px;
    }
